<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for (let i = 0; i < matchedUsers.length; i++) {%>
        <a href="messages?user1=<%= matchedUsers[i].id %>"><%= matchedUsers[i].name %></a>
    <% }%>
</body>
</html>